@tailwind base;
@tailwind components;
@tailwind utilities;

/*
========================
Primary Text Font
========================
*/

.primary-font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
    font-style: normal; */
}

/*
  ========================
  Food Item's Text Font
  ========================
  */

.item-card-font {
  font-family: "Lusitana", serif;
  font-weight: 700;
  font-style: normal;
}
