@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: red;
}

.text-primary {
  color: red;
}

.text-secondary {
  color: white;
}

/* Banner css here */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/public/2745402.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.banner-font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

/* Item card font */
.item-card-font {
  font-family: "Lusitana", serif;
  font-weight: 700;
  font-style: normal;
}
