/*
====================
Tailwind CSS files 
======================
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
==========================
Banner's background image  
==========================
*/
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

/*
========================
Banner's Text Font
========================
*/

.banner-font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

/*
========================
Food Item's Text Font
========================
*/

.item-card-font {
  font-family: "Lusitana", serif;
  font-weight: 700;
  font-style: normal;
}
